; {{ ansible_managed }}
[program:nifi]
command={{ nifi_install_prefix }}/nifi/bin/nifi.sh run
process_name=nifi
user=nifi
startsecs=90
{% if zookeeper_install|bool or zookeeper_install == "local" %}

[program:zookeeper]
command={{ zookeeper_install_prefix }}/zookeeper/bin/zkServer.sh start-foreground
process_name=zookeeper
user=root
startsecs=15
priority=900
{% endif %}

[group:nifi]
programs=nifi{% if zookeeper_install|bool or zookeeper_install == "local" %},zookeeper{% endif %}
