; {{ ansible_managed }}
[program:nifi]
command={{ nifi_install_prefix }}/nifi/bin/nifi.sh run
process_name=nifi
user={{ nifi_run_as | default("root", true) }}
directory={{ nifi_install_prefix }}/nifi
startsecs=10

[group:nifi]
programs=nifi{% if zookeeper_install == "local" %},zookeeper{% endif %}
